body {
  background-color:  #00baf2;
}

hr{
  background-color: #00baf2 ;
  border-style: dotted none none;
  border-width:6px;
  border-color: grey;
  width:12%;

}
h1 {
  color:#0f4a8a ;
}
h2 {
  color: #0f4a8a;
}
h3 {
  color: #0f4a8a;
}
h4 {
  color: #0f4a8a;
}
